.output_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #4f607a;
    border-radius: 20px 20px 0 0;

}

.operand {
    display: flex;
    justify-content: flex-end;
}

.prev {
    margin-bottom: 15px;
    color: #9ba0a6;
}

.current {
    font-size: 24px;
    color: #ffffff;
}