* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding: 30px;
  background: rgb(195,255,241);
  background: url("./img/bg.jpg") center center/cover no-repeat fixed;
}